* {
    font-family: 'Outfit', system-ui, -apple-system;
}

body {
    max-width: 600px;
    margin: 0 auto;
}
.left {
    text-align: left;
}
h1 {
    text-align: center;
    color: blueviolet;
}
h2 {
    color: yellowgreen;
}
h3 {
    color: salmon;
}

img {
    width: 50%;
    margin: 0 auto;
}

nav {
    width: fit-content; 
    margin: 0 auto;
}

.nav-link {
    display: inline-block;
    padding: 15px 15px;
    background-color: skyblue;
    color: black;
    font-weight: 400;
    text-decoration: none;
    margin: 0 5px;
}
.nav-link.active {
    background-color: salmon;
    color: white;
    font-weight: 700;
}

ol li {
    color: darkgreen;
    font-size: 1.1rem;
}
ol,
li p {
    color: black;
    font-size: 0.9rem;
    text-align: left;
}